<h4>Boletos</h4>
<div class="row">
    <section class="col col-md-7">
        <label class="label-control">Numero:</label>
        <label class="input">
            <input type="text" id="txtNumero" />
        </label>
    </section>
    <section class="col col-md-2">
        <label class="label-control">Valor:</label>
        <label class="input">
            <i class="icon-append-left fa fa-dollar"></i>
            <input type="number" id="txtValorBoleto" min="0" />
        </label>
    </section>
    <section class="col col-md-2">
        <label class="label-control">Vencimento:</label>
        <label class="input">
            <i class="icon-append fa fa-calendar"></i>
            <input type="text" id="txtVencimento" />
            <input type="hidden" id="hdValor" value="0" />
        </label>
    </section>
    <section class="col col-md-1">
        <a href="javascript:AddBoleto();" class="btn btn-primary" id="btnAddBoleto"><i class="fa fa-plus"></i> Add</a>
    </section>
</div>
<div class="row">
    <section>
        <div class="table-responsive">
            <table class="table table-bordered" id="tbBoleto">
                <thead>
                    <tr>
                        <th class="col-md-1 hidden" data-override="Id">Codigo</th>
                        <th class="col-md-6">Numero</th>
                        <th class="col-md-2">Valor</th>
                        <th class="col-md-2">Vencimento</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    @if (Model.Boletos != null && Model.Boletos.Count > 0)
                {
                    foreach (var item in Model.Boletos)
                    {
                        string id = item.Id.ToString();
                        if (item.Id <= 0)
                        {
                            id = item.IdTemp.ToString();
                        }
                        <tr data-id='@id'>
                            <td class="hidden">@item.Id</td>
                            <td data-item='num'>@item.Numero</td>
                            <td data-item='val'>@item.Valor.ToString().Replace(",", ".")</td>
                            <td data-item='venc'>@item.Vencimento</td>
                            <td class="col-md-1">
                                <a href='javascript:RemoverBoleto("@id")' class='btn btn-danger'>
                                    <i class='fa fa-remove'></i>
                                </a>
                                <a href='javascript:EditarBoleto(""@id")' class='btn btn-default'>
                                    <i class='fa fa-edit'></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        $("#txtNumero").mask("99999.99999 99999.999999 99999.999999 9 99999999999999", { placeholder: "*" });
        $("#txtNumero").focusout(function () {
            var valor = 0;
            var devalor = 0;
            valor = parseFloat($("#txtNumero").val().substr(44, 8));
            devalor = parseFloat($("#txtNumero").val().substr(52, 2));

            var d = parseFloat(valor + "." + devalor);
            $("#txtValorBoleto").val(d);
            $("#txtValorBoleto").text(d);

            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("GetDateBoleto","Compras")",
                data:{
                    numeroDias : $("#txtNumero").val().substr(40, 4)
                },
                success: function (data) {
                    $("#txtVencimento").val(data);
                }
            });
        });

        $("#txtVencimento").datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>'
        });
    });

    function AddBoleto(){
        $.ajax({
            url: "@Url.Action("AddBoleto", "Compras")?numero="+$("#txtNumero").val()+"&valor="+parseFloat($("#txtValorBoleto").val())+"&vencimento="+$("#txtVencimento").val(),
            data: {
                numero: $("#txtNumero").val(),
                valor: parseFloat($("#txtValorBoleto").val()),
                vencimento: parseFloat($("#txtVencimento").val()),
                empresaId: @Model.EmpresaId
                },
            type: 'GET',
            cache: false,
            contentType: false,
            processData: false,
            success: function(data){
                var str = "<tr data-id='"+data.IdTemp+"'>";
                str += "<td class='hidden'>"+ data.Id +"</td>";
                str += "<td data-item='num'>"+ data.Numero +"</td>";
                str += "<td data-item='val'>"+ data.Valor +"</td>";
                str += "<td data-item='venc'>"+ data.Vencimento +"</td>";
                str += "<td><a href='javascript:RemoverProduto(\""+data.IdTemp+"\")' class='btn btn-danger'><i class='fa fa-remove'></i></a><a href='javascript:EditarProduto(\""+data.IdTemp+"\")' class='btn btn-default'><i class='fa fa-edit'></i></a></td>";
                str += "</tr>";

                var a = parseFloat($("#hdValor").val());
                a = a + data.Valor;
                $("#hdValor").val(a);
                Validate();

                $("#tbBoleto tr:last").after(str);
                $("#txtNumero").val('');
                $("#txtValorBoleto").val('')
                $("#txtVencimento").val('')
                $("#txtNumero").focus();

            }
        });
    }




    function RemoverBoleto(id){
        var tr = $('tr[data-id=' + id + ']');

        var a = parseFloat($("#hdValor").val());
        var b = parseFloat($('tr[data-id=' + id + '] > td[data-item="valTot"]').html());
        a = a - b;
        $("#hdValor").val(a);

        tr.remove();
    }

    function EditarBoleto(id){
        var tr = $('tr[data-id=' + id + ']');

        var a = parseFloat($("#hdValor").val());
        var b = parseFloat($('tr[data-id=' + id + '] > td[data-item="val"]').html());
        a = a - b;
        $("#hdValor").val(a);

        $("#txtNumero").val($('tr[data-id=' + id + '] > td[data-item="num"]').html());
        $("#txtValorBoleto").val($('tr[data-id=' + id + '] > td[data-item="val"]').html())
        $("#txtVencimento").val($('tr[data-id=' + id + '] > td[data-item="venc"]').html())


        $("#txtNumero").focus();

        tr.remove();
    }
</script>
