@model ContC.presentation.mvc.Models.AprovadoViewModel
<script>

    function gvDesaprovadoOnBeginCallback(s, e) {
        e.customArgs["profissionalId"] = $("#ProfissionalDesaprovadoId").val();
        e.customArgs["empresaId"] = $("#EmpresaDesaprovadoId").val();
    }

    $(document).ready(function () {

        $("#bntRefreshDesaprovado").click(function () {
            var divDesaprovado = $("#divDesaprovado");
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@Url.Action("DesaprovadoPartial", "Aprovacao")",
                    success: function (data) {
                        divDesaprovado.html('');
                        divDesaprovado.html(data);
                        $("#divCarregadoDesaprovado").attr("dt-val", "true");
                    },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve.');
                }
            });

        });

        $("#ProfissionalDesaprovadoId").change(function () {
            var profissionalId = $("#ProfissionalDesaprovadoId").val();
            var empresaDiv = $("#empresaDesaprovadoDiv");
            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("EmpresaDesaprovadoPartial", "Aprovacao")?profissionalId=" + profissionalId,
                data: { "profissionalId": profissionalId },
                success: function (data) {
                    empresaDiv.html('');
                    empresaDiv.html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve.');
                }
            });
        });
    });

    function gvDesaprovadoCustomButtonClick(s, e) {
        var key = s.GetRowKey(e.visibleIndex);
        var mensagemDiv = $("#mensagemDiv");

        if (e.buttonID === "btnAprovarDesaprovado") {
            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("AprovarDesaprovado", "Aprovacao")?id=" + key,
                data: { "id": key },
                success: function (data) {
                    mensagemDiv.html('');
                    mensagemDiv.html('<div class="alert alert-info" > <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + data + '</div>');
                    ReloadGridDesaprovado2();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve.');
                }
            });
        }
    }

    function ReloadGridDesaprovado2() {
        var gridDivNA = $("#gridDivNA");
        var profissionalId = $("#ProfissionalDesaprovadoId").val();
        var empresaId = $("#EmpresaDesaprovadoId").val();
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("GetDesaprovados", "Aprovacao")?profissionalId=' + profissionalId + "&empresaId=" + empresaId,
            data: { "profissionalId": profissionalId, "empresaId": empresaId },
            success: function (data) {
                gridDivNA.html('');
                gridDivNA.html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve.');
            }
        });
    }
</script>
<div id="divCarregadoDesaprovado"></div>
<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label>Selecione um Profissional :</label>
            @Html.DropDownListFor(model => model.ProfissionalId, Model.Profissionais, new { id = "ProfissionalDesaprovadoId", @class = "form-control" })
        </div>
        <div class="col-md-4">
            <div id="empresaDesaprovadoDiv"></div>
        </div>
        <div class="col-md-4">
            <br />
            <button id="bntRefreshDesaprovado" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="gridDivNA" class="col-md-12">
        </div>
    </div>
</div>