@model object[]

<script src="@Scripts.Url("~/Scripts/plugin/flot/jquery.flot.cust.min.js")"></script>
<script src="@Scripts.Url("~/Scripts/plugin/flot/jquery.flot.resize.min.js")"></script>
<script src="@Scripts.Url("~/Scripts/plugin/flot/jquery.flot.fillbetween.min.js")"></script>
<script src="@Scripts.Url("~/Scripts/plugin/flot/jquery.flot.orderBar.min.js")"></script>
<script src="@Scripts.Url("~/Scripts/plugin/flot/jquery.flot.pie.min.js")"></script>
<script src="@Scripts.Url("~/Scripts/plugin/flot/jquery.flot.tooltip.min.js")"></script>

<div id="saleschart" class="chart"></div>
<script>

    var $chrt_border_color = "#efefef";
    var $chrt_grid_color = "#DDD"
    var $chrt_second = "#6595b4";

    $(document).ready(function () {
        var yourJavaScriptArray = @Html.Raw(Json.Encode(Model));
        debugger;
        var d = yourJavaScriptArray;

        for (var i = 0; i < d.length; ++i)
            d[i][0] += 60 * 60 * 1000;

        function weekendAreas(axes) {
            var markings = [];
            var d = new Date(axes.xaxis.min);
            // go to the first Saturday
            d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
            d.setUTCSeconds(0);
            d.setUTCMinutes(0);
            d.setUTCHours(0);
            var i = d.getTime();
            do {
                // when we don't set yaxis, the rectangle automatically
                // extends to infinity upwards and downwards
                markings.push({
                    xaxis: {
                        from: i,
                        to: i + 2 * 24 * 60 * 60 * 1000
                    }
                });
                i += 7 * 24 * 60 * 60 * 1000;
            } while (i < axes.xaxis.max);

            return markings;
        }

        var options = {
            xaxis: {
                mode: "time",
                tickLength: 5
            },
            series: {
                lines: {
                    show: true,
                    lineWidth: 1,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 0.1
                        }, {
                            opacity: 0.15
                        }]
                    }
                },
                //points: { show: true },
                shadowSize: 0
            },
            selection: {
                mode: "x"
            },
            grid: {
                hoverable: true,
                clickable: true,
                tickColor: $chrt_border_color,
                borderWidth: 0,
                borderColor: $chrt_border_color,
            },
            tooltip: true,
            tooltipOpts: {
                content: "Your sales for <b>%x</b> was <span>$%y</span>",
                dateFormat: "%y-%0m-%0d",
                defaultTheme: false
            },
            colors: [$chrt_second],

        };

        var plot = $.plot($("#saleschart"), [d], options);
    });

</script>
