@model ContC.presentation.mvc.Models.ApontamentoAnaliticoViewModel

@{
    ViewBag.Title = "Relatório Analítico de Atividades por Período";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#btnMostrarRelatorio").attr("disabled", "disabled");
    });
    function SetActionsOnChangeEmpresa() {
        $(document).ready(function () {
            $("#EmpresaId").change(function () {
                var empresaId = $("#EmpresaId").val();
                var div = $("#divCompetencia");
                var btn = $("#btnMostrarRelatorio");
                if (empresaId === "0") {
                    $("#btnMostrarRelatorio").attr("disabled", "disabled");
                }
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@Url.Action("CompetenciaPartial", "Report")?empresaId=" + empresaId,
                    data: { "empresaId": empresaId },
                    success: function (data) {
                        div.html('');
                        div.html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve.');
                    }
                });
            });
        });
    }

    function SetActionsOnChangeCompetencia() {
        $(document).ready(function () {
            $("#CompetenciaId").change(function () {
                var empresaId = $("#EmpresaId").val();
                var competenciaId = $("#CompetenciaId").val();
                var div = $("#divUsuario");
                if (empresaId !== "0" && competenciaId !== "0") {
                    $("#btnMostrarRelatorio").removeAttr("disabled");
                }
                else {
                    $("#btnMostrarRelatorio").attr("disabled", "disabled");
                }
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@Url.Action("UsuarioPartial", "Report")?empresaId=" + empresaId + "&" + "competenciaId=" + competenciaId,
                    data: { "empresaId": empresaId, "competenciaId": competenciaId },
                    success: function (data) {
                        div.html('');
                        div.html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve.');
                    }
                });
            });
        });
    }
</script>

<h2>Relatório Analítico de Atividades por Período</h2>
@using (Html.BeginForm("ApontamentoAnalitico", "Report", FormMethod.Post, new { id = "filterForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <br />
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("EmpresaPartial", Model.Empresas)
                @Html.ValidationMessageFor(model => model.EmpresaId)
            </div>
            <div id="divCompetencia" class="col-md-4">
                @Html.Partial("CompetenciaPartial", Model.Competencias)
                @Html.ValidationMessageFor(model => model.CompetenciaId)
            </div>
            <div id="divUsuario" class="col-md-4">
                @Html.Partial("UsuarioPartial", Model.Usuarios)
                @Html.ValidationMessageFor(model => model.UsuarioId)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <button id="btnMostrarRelatorio" type="submit" class="btn btn-primary">Mostrar Relatório</button>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

