@model ContC.presentation.mvc.Models.NotasModels.ListaItemNotasModel

@{
    bool frist = Model.NotaSelecionadaId == 0;
    int notaId = Model.NotaSelecionadaId;
}
@if (Model.Notas.Count <= 0)
{
    <h5>Não Existe Notas para o Usuario</h5>
}
<div id="dvErro"></div>
@foreach (var nota in Model.Notas)
{
    if (frist || notaId == nota.Id)
    {
        notaId = nota.Id; frist = false;
        <a href="#" id="btnNota" data-id="@nota.Id" class="nota">
            <h5 class="todo-group-title action" data-id="@nota.Id">
                @nota.Titulo  @*(<small class="num-of-tasks">1</small>)*@
                <a class="button-icon-contc" data-id="@nota.Id" data-ajax="true" rel="tooltip" title="Concluir Lista" data-placement="bottom" data-original-title="Concluir" data-ajax-begin="$('.jquery-waiting-base-container').showing({ modo: 'slow' });" data-ajax-complete="$('.jquery-waiting-base-container').closing({ modo: 'slow' });" data-ajax-failure="ErrorConcluir" data-ajax-success="SuccessConcluir" href="/Notas/Concluir?notaId=@nota.Id"><i class="fa fa-check "></i></a>
                <a class="button-icon-contc" data-id="@nota.Id" data-ajax="true" rel="tooltip" title="Concluir Lista" data-placement="bottom" data-original-title="Compartilhar" data-ajax-begin="$('.jquery-waiting-base-container').showing({ modo: 'slow' });" data-ajax-complete="$('.jquery-waiting-base-container').closing({ modo: 'slow' });" data-ajax-mode="replace" data-ajax-update="#modalContent" href="/Notas/ModalCompartilhar?notaSelecionada=@nota.Id&empresaId=@nota.Empresa.Id"><i class=" fa fa-share-alt "></i></a>
            </h5>
        </a>

    }
    else
    {
        <a href="#" id="btnNota" data-id="@nota.Id" class="nota">
            <h5 class="todo-group-title " data-id="@nota.Id">
                @nota.Titulo
                <a class="button-icon-contc" data-id="@nota.Id" data-ajax="true" rel="tooltip" title="Concluir Lista" data-placement="bottom" data-original-title="Concluir" data-ajax-begin="$('.jquery-waiting-base-container').showing({ modo: 'slow' });" data-ajax-complete="$('.jquery-waiting-base-container').closing({ modo: 'slow' });" data-ajax-failure="ErrorConcluir" data-ajax-success="SuccessConcluir" href="/Notas/Concluir?notaId=@nota.Id"><i class="fa fa-check "></i></a>
                <a class="button-icon-contc" data-id="@nota.Id" data-ajax="true" rel="tooltip" title="Concluir Lista" data-placement="bottom" data-original-title="Novo Fornecedor" data-ajax-begin="$('.jquery-waiting-base-container').showing({ modo: 'slow' });" data-ajax-complete="$('.jquery-waiting-base-container').closing({ modo: 'slow' });" data-ajax-mode="replace" data-ajax-update="#modalContent" href="/Notas/ModalCompartilhar?notaSelecionada=@nota.Id&empresaId=@nota.Empresa.Id"><i class=" fa fa-share-alt "></i></a>
            </h5>

        </a>
    }
}
@if (Model.Notas.Count > 0)
{
    <script>
        $(document).ready(function () {
            loadItemNota(@notaId);

            $(".nota").click(function () {
                $("h5.action").removeClass("action");
                $("h5[data-id=" + $(this).attr("data-id") + "]").addClass("action");
                loadItemNota($(this).attr("data-id"));

            });
        });
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            var dvNotasLoad = $("#notasLoad");
            dvNotasLoad.html('');
        });
    </script>
}

<script>
    function ErrorConcluir(data) {
        var err = '<div id="dvErro" class="alert alert-danger fade in">';
        err = err + '<button class="close" data-dismiss="alert">';
        err = err + '×';
        err = err + '</button>';
        err = err + '<i class="fa-fw fa fa-times"></i>';
        err = err + '<strong>Error!</strong> ' + data.statusText;
        err = err + '</div>';

        $("#dvErro").html('');
        $("#dvErro").html(err);
    }
    function SuccessConcluir(data) {
        $("a[data-id='" + data + "']").remove();
        debugger;
        if ($(".nota").length <= 0) {
            //Não Existe mais notas para o seu usuario
            cleanItenNota();
            return;
        }
        var id = $($(".nota")[0]).attr("data-id");
        $("h5[data-id='" + id + "']").addClass("action");
        loadItemNota(id);
    }
</script>